html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header,
main, 
footer {
    position: relative;
    z-index: 2;
    pointer-events: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

main {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

// Background
$overlayOpacity: 0.3;

.background {
    background-color: #261f4b;
    background-image: url('../images/WellingtonFirework-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(183, 33, 255, $overlayOpacity), rgba(33, 212, 253, $overlayOpacity));
    }

    // .background__overlay
    &__overlay {
        width: 100%;
        height: 100%;
        background: radial-gradient(transparent, rgba(#000, 0.4));
        background-size: cover;
        background-position: center center;
    }
}

// Header
header {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 100px 0;
}

.logo {
    width: 150px;
    height: 150px;

    // .logo__letter-o
    &__letter-o {
        //filter:url(#O);
        //animation: logoFlickerO 2s linear infinite;
        //will-change: transform;
    }

    // .logo__letter-b
    &__letter-b {
        //filter:url(#B);
        //animation: logoFlickerB 1.5s .5s linear infinite;
        //will-change: transform;
    }
}

// @keyframes logoFlickerO {
//     0% {filter: url(#O);}
//     50% {filter: none;}
//     88% {filter: url(#O);}
//     90% {filter: none;}
//     100% {filter: url(#O);}    
// }

// @keyframes logoFlickerB {
//     0% {filter: url(#B);}
//     50% {filter: none;}
//     88% {filter: url(#B);}
//     90% {filter: none;}
//     100% {filter: url(#B);}    
// }

// Main
.content {
    text-align: center;

    //.content__title
    &__title {
        font-family: 'Permanent Marker', cursive;
        font-size: 12vh;
        color: #FFEEEE;
        text-shadow: -6px 0 14px #21d4fd, 0 5px 3px #000;
        margin: 0 0 24px;

        & span {
            //animation: blink 2s linear 650ms infinite alternate;
            animation: glow 4s linear 650ms infinite alternate;

            &:nth-child(2n+0) {
                //animation: blink 2.4s linear 1.35s infinite alternate;                
                animation: glow 4.4s linear 1.35s infinite alternate;                
            }

            &:nth-child(3n+0) {
                //animation: blink 2.2s linear 950ms infinite alternate;                
                animation: glow 4.2s linear 950ms infinite alternate;                
            }
        }
    }

    //.content__subheading
    &__subheading {
        font-family: 'Permanent Marker', cursive;
        font-size: 7vh;
        color: #FFEEEE;
        text-shadow: -6px 0 14px #21d4fd, 0 5px 3px #000;
        margin: 0 0 24px;

        & span {
            animation: blink 2s linear 650ms infinite alternate;

            &:nth-child(2n+0) {
                animation: blink 2.4s linear 1.35s infinite alternate;                
            }

            &:nth-child(3n+0) {
                animation: blink 2.2s linear 950ms infinite alternate;                
            }
        }
    }
}

@keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
}

@keyframes glow {
    33% {
        text-shadow: -6px 0 14px #137f97, 0 5px 3px #000;
    }

    66% {
        text-shadow: -6px 0 14px #79e5fd, 0 5px 3px #000;
    }
}

// Links
.links {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    // .links__link
    &__link {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-left: 16px;
        transition: transform 100ms ease-out;

        &:nth-child(1) {
            margin-left: 0;
        }
    }

    a {

    }
}

.link-helptip {
    position: relative;
    

    // .link-helptip__icon
    &__icon {
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
        pointer-events: auto;
        
        &:hover,
        &:active {
            transform: scale(1.2);
        }

        &:hover,
        &:active {
            .link-helptip__arrow,
            .link-helptip__tip {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    // .link-helptip__arrow
    &__arrow {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: opacity 300ms, visibility 500ms ease-in-out;
        position: absolute;
        top: -15px;
        left: 50%;
        transform: rotate(45deg) translate(calc(-50% + 8px));
        width: 12px;
        height: 12px;
        background-color: #21d4fd;
        z-index: 1;
        border-right: 2px solid #21d4fd;
        border-bottom: 2px solid #21d4fd;
    }

    // .link-helptip__tip
    &__tip {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: opacity 300ms, visibility 500ms ease-in-out;
        position: absolute;
        left: 50%;
        bottom: calc(100% + 8px);
        padding-bottom: 8px;
        width: auto;
        padding: 8px 16px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 100%);
        //border: 2px linear #21d4fd;
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to top, #21d4fd, transparent 40%, transparent 60%, #21d4fd 100%) 1;
        border-radius: 4px;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.3rem;
        line-height: 1.5;
        color: #FFEEEE;
        text-align: center;
        transform: translateX(calc(-50% + 8px));
    
        @include break-lg() {
            width: calc(100% - 24px);
        }
    }
}

.link-helptip__icon:hover+.link-helptip__arrow,
.link-helptip__icon:hover+.link-helptip__arrow+.link-helptip__tip {
    opacity: 1;
    visibility: visible;
}

// Footer
.footer-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #FFEEEE;

    a {
        color: #21d4fd;
        pointer-events: auto;
        cursor: pointer;
    }
}

/* ---- particles.js container ---- */

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }